<%= form_for(@myc) do |f| %>
  <% if @myc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@myc.errors.count, "error") %> prohibited this myc from being saved:</h2>

      <ul>
      <% @myc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mya_id %><br>
    <%= f.number_field :mya_id %>
  </div>
  <div class="field">
    <%= f.label :myb_id %><br>
    <%= f.number_field :myb_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
