<p id="notice"><%= notice %></p>

<p>
  <strong>Mya:</strong>
  <%= @myc.mya_id %>
</p>

<p>
  <strong>Myb:</strong>
  <%= @myc.myb_id %>
</p>

<%= link_to 'Edit', edit_myc_path(@myc) %> |
<%= link_to 'Back', mycs_path %>
