<p id="notice"><%= notice %></p>

<p>
  <strong>Mya:</strong>
  <%= @myb.mya_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @myb.title %>
</p>

<%= link_to 'Edit', edit_myb_path(@myb) %> |
<%= link_to 'Back', mybs_path %>
