<p id="notice"><%= notice %></p>

<p>
  <strong>Mya:</strong>
  <%= @mye.mya_id %>
</p>

<p>
  <strong>Myb:</strong>
  <%= @mye.myb_id %>
</p>

<p>
  <strong>Myc:</strong>
  <%= @mye.myc_id %>
</p>

<%= link_to 'Edit', edit_mye_path(@mye) %> |
<%= link_to 'Back', myes_path %>
