<p id="notice"><%= notice %></p>

<p>
  <strong>Mya:</strong>
  <%= @myd.mya_id %>
</p>

<p>
  <strong>Myb:</strong>
  <%= @myd.myb_id %>
</p>

<p>
  <strong>Myc:</strong>
  <%= @myd.myc_id %>
</p>

<%= link_to 'Edit', edit_myd_path(@myd) %> |
<%= link_to 'Back', myds_path %>
